/*
#09f (lichter blauw)
#33f (donker blauw)
#ff3 (geel)
*/

@media print {
  .container {
      max-width: none!important;
      width: 100%!important;
      padding-left: 0;
      padding-right: 0;
  }
  .row {
      margin-left: -1%;
      margin-left: -1%;
  }
  [class*="col-"] {
      float: left;
      padding-left: 1%;
      padding-right: 1%;
  }
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
      width: 100%
  }
  .col-sm-11,
  .col-md-11,
  .col-lg-11 {
      width: 91.66666667%
  }
  .col-sm-10,
  .col-md-10,
  .col-lg-10 {
      width: 83.33333333%
  }
  .col-sm-9,
  .col-md-9,
  .col-lg-9 {
      width: 75%
  }
  .col-sm-8,
  .col-md-8,
  .col-lg-8 {
      width: 66.66666667%
  }
  .col-sm-7,
  .col-md-7,
  .col-lg-7 {
      width: 58.33333333%
  }
  .col-sm-6,
  .col-md-6,
  .col-lg-6 {
      width: 50%
  }
  .col-sm-5,
  .col-md-5,
  .col-lg-5 {
      width: 41.66666667%
  }
  .col-sm-4,
  .col-md-4,
  .col-lg-4 {
      width: 33.33333333%
  }
  .col-sm-3,
  .col-md-3,
  .col-lg-3 {
      width: 25%
  }
  .col-sm-2,
  .col-md-2,
  .col-lg-2 {
      width: 16.66666667%
  }
  .col-sm-1,
  .col-md-1,
  .col-lg-1 {
      width: 8.33333333%
  }
  a[href]:after {
    content: none !important;
  }
}

.hideme {
  visibility: hidden;
}

img.clubman-navlogo {
  padding-right: 10px;
}


/*-misc-------------------------------------------------------------------------*/
div.attention {
 background-color: #ff9;
}

/*--algemeen-----------------------------------------------------------------*/
table.normalelijst {
 border-collapse: collapse;
 border: solid 1px #ccc;
}

.afgelast, .afgelastthuis, .afgelastuit {
 text-decoration: line-through;
}
.gaatniet, .gaatnietthuis, .gaatnietuit, .gaatnietdoor {
 text-decoration: line-through;
}
.forfait, .forfaitthuis, .forfaituit {
 text-decoration: line-through;
}
.gamecancel, .gametochange {
  text-decoration: line-through;
}

/*
table.normalelijst tr th {
 background-color: #ff9;
 background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(249,241,162,1) 50%, rgba(247,233,108,1) 51%, rgba(239,213,43,1) 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(50%,rgba(249,241,162,1)), color-stop(51%,rgba(247,233,108,1)), color-stop(100%,rgba(239,213,43,1)));
 background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(249,241,162,1) 50%,rgba(247,233,108,1) 51%,rgba(239,213,43,1) 100%);
 background: -o-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(249,241,162,1) 50%,rgba(247,233,108,1) 51%,rgba(239,213,43,1) 100%);
 background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(249,241,162,1) 50%,rgba(247,233,108,1) 51%,rgba(239,213,43,1) 100%);
 background: linear-gradient(top, rgba(254,252,234,1) 0%,rgba(249,241,162,1) 50%,rgba(247,233,108,1) 51%,rgba(239,213,43,1) 100%);
}
*/

/*---------------------------------------------------------------------------*/


a.boldlink {
 font-weight: bold;
 text-decoration: none;
 color: #09f;
}
ul.ulsmall {
 text-align: left;
 font-size: 85%;
}



div.teamindex     { padding: 1px; margin-top: 0px; margin-bottom: 0;}
div.teamindex div.oneteam  { float: left; border: solid 1px #eee; margin: 5px; }
div.teamindex div.oneteam:hover { border: solid 1px #ccc; }
div.teamindex div.oneteam div.oneteampicture { width: 320px; height: 240px; opacity: 0.9; }
div.teamindex div.oneteam div.oneteampicture:hover { opacity: 1; }
.oneteampicture p { text-align: center; margin: 0; padding: 0; }
.oneteampicture img { height: 240px; max-width: 100%; }

.crlf          { clear: both; }




/* --- To have vertically ordered columns in the member list --------- */
/*
   I specify a column-count and column-gat for every bootstrap screensize.
*/
/* --- bootstrap xs -------------------------------------------------- */
@media screen and (max-width: 768px) {
  .cm-membercolumns {
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    column-count: 1;
    column-gap: 10px;
  }
}
/* --- bootstrap sm -------------------------------------------------- */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .cm-membercolumns {
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
  }
}
/* --- bootstrap md -------------------------------------------------- */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .cm-membercolumns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
  }
}
/* --- bootstrap lg -------------------------------------------------- */
@media screen and (min-width: 1201px) {
  .cm-membercolumns {
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    column-count: 4;
    column-gap: 10px;
  }
}
