/*
#09f (lichter blauw)
#33f (donker blauw)
#ff3 (geel)
*/

@media print {
  .container {
      max-width: none!important;
      width: 100%!important;
      padding-left: 0;
      padding-right: 0;
  }
  .row {
      margin-left: -1%;
      margin-left: -1%;
  }
  [class*="col-"] {
      float: left;
      padding-left: 1%;
      padding-right: 1%;
  }
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
      width: 100%
  }
  .col-sm-11,
  .col-md-11,
  .col-lg-11 {
      width: 91.66666667%
  }
  .col-sm-10,
  .col-md-10,
  .col-lg-10 {
      width: 83.33333333%
  }
  .col-sm-9,
  .col-md-9,
  .col-lg-9 {
      width: 75%
  }
  .col-sm-8,
  .col-md-8,
  .col-lg-8 {
      width: 66.66666667%
  }
  .col-sm-7,
  .col-md-7,
  .col-lg-7 {
      width: 58.33333333%
  }
  .col-sm-6,
  .col-md-6,
  .col-lg-6 {
      width: 50%
  }
  .col-sm-5,
  .col-md-5,
  .col-lg-5 {
      width: 41.66666667%
  }
  .col-sm-4,
  .col-md-4,
  .col-lg-4 {
      width: 33.33333333%
  }
  .col-sm-3,
  .col-md-3,
  .col-lg-3 {
      width: 25%
  }
  .col-sm-2,
  .col-md-2,
  .col-lg-2 {
      width: 16.66666667%
  }
  .col-sm-1,
  .col-md-1,
  .col-lg-1 {
      width: 8.33333333%
  }
  a[href]:after {
    content: none !important;
  }
}


.hideme {
  visibility: hidden;
}
/*-menu-------------------------------------------------------------------*/
div#menu {
/* width: 100%;*/
 font-family: "Trebuchet MS", "Lucida Sans Unicode", "Sans-serif";
 font-size: 16pt;
 background: #ff9;
 float: left;
 border-top: solid 1px #09f;
 border-bottom: solid 1px #09f;
 margin: 0 0;
 padding: 0 0;
}
div#menu div#balk {            /* als browser window verkleint, blijft het menu toch op 1 lijn */
 width: 755px;
}
div#menu ul {
 list-style: none;
 margin: 0 0;
 padding: 0 0;
 width: 188px;
 float: left;
}
div#menu ul li:hover {       /* deze zorgt ervoor dat het item wit blijft zolang we in het submenu zitten */
 color: #09f;
 background: #9cf;
}
div#menu ul li a {
 color: #09f;
 background: #fff;
 text-decoration: none;
 padding: 0;
}
div#menu ul li a:hover {
 color: #09f;
 background: #9cf;
 text-decoration: none;
}
div#menu a, div#menu div.mainmenu {
 display: block;
 margin: 0;
 padding: 0px 3px;
}
div#menu div.mainmenu {
 border-left: solid 5px #999;
 color: #09f;
}
div#menu div.mainmenu a {
 background: #ff9;
}
div#menu ul ul li a {
 font-size: 11pt;
 color: #000;
 background: #fff;
 text-decoration: none;
 padding: 5px 0 5px 3px;
}
div#menu ul ul li a:hover {
 color: #09f;
 background: #9cf;
}
div#menu li {
 position: relative;
}
div#menu ul ul {
 border-top: solid 1px #ccc;
 border-bottom: solid 1px #ccc;
 position: absolute;
 z-index: 500;
}
div#menu ul ul li {
 border-left: solid 3px #09f;
}
div#menu ul ul ul li {
 border-left: solid 3px #ff9;
}
div#menu ul ul ul {
 position: absolute;
 top: 0;
 left: 100%;
 width: 10em;
}
div#menu ul ul, div#menu ul li:hover ul ul, div#menu ul ul li:hover ul ul {
 display: none;
}
div#menu ul li:hover ul, div#menu ul ul li:hover ul, div#menu ul ul ul li:hover ul {
 display: block;
}

/*-maincontent-------------------------------------------------------------------*/
div#maincontent {
 text-align: left;
 margin-left: 200px;
/* background-color: #eee; */
 background: #fff url('../img/style/main_bg.png') repeat-x center top;
 color: #000;
 border-left: solid 1px #fff;
 padding: 10px 25px;
}

/*-misc-------------------------------------------------------------------------*/
div.attention {
 background-color: #ff9;
}

/*--algemeen-----------------------------------------------------------------*/
table.normalelijst {
 border-collapse: collapse;
 border: solid 1px #09f;
}
table.normalelijst tr.headright th {
 border: solid 1px #333;
 background-color: #ff9;
 padding: 0 20px;
 text-align: right;
}
table.normalelijst tr.headsmall th {
 border: solid 1px #333;
 background-color: #ff9;
 padding: 0;
}
table.normalelijst tr.bbottom th {
 border-bottom: solid 1px #333;
}
table.normalelijst tr.odd {
 background-color: #eee;
}
table.normalelijst tr.even {
 background-color: #fff;
}
table.normalelijst tr.footer {
 background-color: #f66;
 border: solid 1px #333;
 font-weight: bold;
 color: #333;
}
table.normalelijst tr th {
 padding: 0 5px;
 background-color: #ff9;
 text-align: center;
 background: rgb(254,252,234); /* Old browsers */
 background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(249,241,162,1) 50%, rgba(247,233,108,1) 51%, rgba(239,213,43,1) 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(50%,rgba(249,241,162,1)), color-stop(51%,rgba(247,233,108,1)), color-stop(100%,rgba(239,213,43,1))); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(249,241,162,1) 50%,rgba(247,233,108,1) 51%,rgba(239,213,43,1) 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(249,241,162,1) 50%,rgba(247,233,108,1) 51%,rgba(239,213,43,1) 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(249,241,162,1) 50%,rgba(247,233,108,1) 51%,rgba(239,213,43,1) 100%); /* IE10+ */
 background: linear-gradient(top, rgba(254,252,234,1) 0%,rgba(249,241,162,1) 50%,rgba(247,233,108,1) 51%,rgba(239,213,43,1) 100%); /* W3C */
}
table.normalelijst tr th.bleft {
 border-left: solid 1px #333;
}
table.normalelijst tr th.aleft {
 text-align: left;
 padding: 0 10px;
}
table.normalelijst tr td {
 padding: 0 10px;
}
table.normalelijst tr td.kleiner {
 font-size: 80%;
}
table.normalelijst tr td.bleft {
 border-left: solid 1px #333;
 text-align: right;
}
table.normalelijst a {
 font-weight: bold;
 text-decoration: none;
 color: #09f;
}
table.normalelijst a:hover {
 color: #00f;
}

a.boldlink {
 font-weight: bold;
 text-decoration: none;
 color: #09f;
}
ul.ulsmall {
 text-align: left;
 font-size: 85%;
}

/*--maandkalender-----------------------------------------------------------------*/
table.kalendermaand {
/*border-collapse: collapse;*/
 border: solid 1px #09f;
 padding: 1px 1px;
}
table.kalendermaand tr.titel {
 background-color: #ff9;
 padding: 2px 0;
 margin: 0;
}
table.kalendermaand tr.titel th {
 text-align: center;
}
table.kalendermaand tr.kalnav {
 background-color: #09f;
 color: #ff9;
 padding: 2px 0;
 margin: 0;
}
table.kalendermaand tr.kalnav th.dezemaand {
 text-align: center;
}
table.kalendermaand tr.kalnav a {
 color: #fff;
 text-decoration: none;
 font-size: 10pt;
}
table.kalendermaand tr.weekdagen {
 font-size: 10pt;
 background-color: #ff9;
 padding: 2px 0;
 margin: 0;
}
table.kalendermaand tr.weekdagen th {
 text-align: center;
}
table.kalendermaand tr th a {
 text-decoration: none;
 margin: 0 5px;
}
table.kalendermaand tr td {
 width: 100px;
 height: 70px;
 vertical-align: top;
 padding: 0;
 margin: 0;
 font-size: 9pt;
}
table.kalendermaand tr td.geendatum {
 background-color: #fff;
 border: solid 0px #fff;
}
table.kalendermaand tr td.even, table.kalendermaand tr td.evenempty {
 background-color: #ffe;
 border: solid 1px #ffe;
}
table.kalendermaand tr td.even:hover {
 border: solid 1px #999;
}
table.kalendermaand tr td.odd, table.kalendermaand tr td.oddempty {
 background-color: #eee;
 border: solid 1px #eee;
}
table.kalendermaand tr td.odd:hover {
 border: solid 1px #999;
}
table.kalendermaand tr td.vandaag, table.kalendermaand tr td.vandaagempty {
 background-color: #ff9;
 border: solid 1px #ff9;
}
table.kalendermaand tr td.vandaag:hover {
 border: solid 1px #999;
}
table.kalendermaand tr td ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
}
table.kalendermaand tr td ul li {
 margin: 0 5px;
 color: #09f;
}
table.kalendermaand tr td ul li.thuiswedstrijd, table.kalendermaand tr td ul li.thuiswedstrijd a {
 text-decoration: none;
 color: #00f;
}
table.kalendermaand tr td ul li.thuiswedstrijd:hover {
 background-color: #ff9;
}
table.kalendermaand tr td ul li.uitwedstrijd, table.kalendermaand tr td ul li.uitwedstrijd a {
 text-decoration: none;
 color: #090;
}
table.kalendermaand tr td ul li.uitwedstrijd:hover {
 background-color: #ff9;
}
table.kalendermaand tr td ul li.bekerthuis, table.kalendermaand tr td ul li.bekerthuis a {
 text-decoration: none;
 color: #f33;
}
table.kalendermaand tr td ul li.bekerthuis:hover {
 background-color: #ff9;
}
table.kalendermaand tr td ul li.bekeruit, table.kalendermaand tr td ul li.bekeruit a {
 text-decoration: none;
 color: #f66;
}
table.kalendermaand tr td ul li.bekeruit:hover {
 background-color: #ff9;
}
table.kalendermaand tr td ul li.bekerfinale, table.kalendermaand tr td ul li.bekerfinale a {
 text-decoration: none;
 color: #f00;
}
table.kalendermaand tr td ul li.bekerfinale:hover {
 background-color: #ff9;
}

table.kalendermaand tr td ul li.oefenthuis, table.kalendermaand tr td ul li.oefenthuis a {
 text-decoration: none;
 color: #840;
}
table.kalendermaand tr td ul li.oefenthuis:hover {
 background-color: #ff9;
}
table.kalendermaand tr td ul li.oefenuit, table.kalendermaand tr td ul li.oefenuit a {
 text-decoration: none;
 color: #840;
}
table.kalendermaand tr td ul li.oefenuit:hover {
 background-color: #ff9;
}
table.kalendermaand tr td ul li.tornooi, table.kalendermaand tr td ul li.tornooi a {
 text-decoration: none;
 color: #840;
}
table.kalendermaand tr td ul li.tornooi:hover {
 background-color: #ff9;
}

table.kalendermaand tr td ul li.gaatnietthuis, table.kalendermaand tr td ul li.gaatnietthuis a {
 text-decoration: line-through;
 color: #333;
}
table.kalendermaand tr td ul li.gaatnietthuis:hover {
 background-color: #ff9;
}
table.kalendermaand tr td ul li.gaatnietuit, table.kalendermaand tr td ul li.gaatnietuit a {
 text-decoration: line-through;
 color: #666;
}
table.kalendermaand tr td ul li.gaatnietuit:hover {
 background-color: #ff9;
}

table.kalendermaand tr td ul li.afgelastthuis, table.kalendermaand tr td ul li.afgelastthuis a {
 text-decoration: line-through;
 color: #333;
}
table.kalendermaand tr td ul li.afgelastthuis:hover {
 background-color: #ff9;
}
table.kalendermaand tr td ul li.afgelastuit, table.kalendermaand tr td ul li.afgelastuit a {
 text-decoration: line-through;
 color: #666;
}
table.kalendermaand tr td ul li.afgelastuit:hover {
 background-color: #ff9;
}

table.kalendermaand tr td ul li.forfaitthuis, table.kalendermaand tr td ul li.forfaitthuis a {
 text-decoration: line-through;
 color: #333;
}
table.kalendermaand tr td ul li.forfaitthuis:hover {
 background-color: #ff9;
}
table.kalendermaand tr td ul li.forfaituit, table.kalendermaand tr td ul li.forfaituit a {
 text-decoration: line-through;
 color: #666;
}
table.kalendermaand tr td ul li.forfaituit:hover {
 background-color: #ff9;
}

table.kalendermaand tr td ul li.verjaardag, table.kalendermaand tr td ul li.verjaardag a {
 text-decoration: none;
 color: #09f;
}
table.kalendermaand tr td ul li.verjaardag:hover {
 background-color: #ff9;
}
table.kalendermaand tr td ul li.speciaal, table.kalendermaand tr td ul li.speciaal a {
 text-decoration: none;
 color: #900;
}
table.kalendermaand tr td ul li.speciaal:hover {
 background-color: #ff9;
}
table.kalendermaand tr td ul li.activiteit, table.kalendermaand tr td ul li.activiteit a {
 text-decoration: none;
 color: #333;
}
table.kalendermaand tr td ul li.activiteit:hover {
 background-color: #ff9;
}
table.kalendermaand tr td ul li.voorbereiding, table.kalendermaand tr td ul li.voorbereiding a {
 text-decoration: none;
 color: #909;
}
table.kalendermaand tr td ul li.voorbereiding:hover {
 background-color: #ff9;
}
table.kalendermaand tr td ul li.sportdienstgemeente, table.kalendermaand tr td ul li.sportdienstgemeente a {
 text-decoration: none;
 color: #a85;
}
table.kalendermaand tr td ul li.sportdienstgemeente:hover {
 background-color: #ff9;
}
table.kalendermaand tr td ul li.bestuurlijk, table.kalendermaand tr td ul li.bestuurlijk a {
 text-decoration: none;
 color: #000;
}
table.kalendermaand tr td ul li.bestuurlijk:hover {
 background-color: #ff9;
}
table.kalendermaand tr td ul li.kalitem:hover {
 background-color: #ff9;
 color: #000;
}
table.kalendermaand tr td ul li.hoeveelste {
 font-size: 8pt;
 font-weight: bold;
 color: #800;
 text-align: right;
}

/*-dagkalender------------------------------------------------------------------*/
table.kalenderdag {
 width: 700px;
 border-collapse: collapse;
 border: solid 1px #09f;
 padding: 1px 1px;
}
table.kalenderdag tr.titel {
 background-color: #ff9;
 padding: 2px 0;
 margin: 0;
}
table.kalenderdag tr.titel th {
 text-align: center;
}
table.kalenderdag tr.kalnav {
 background-color: #09f;
 color: #ff9;
 padding: 2px 0;
 margin: 0 5px;
}
table.kalenderdag tr.kalnav th.dezedag {
 text-align: center;
}
table.kalenderdag tr.kalnav a {
 color: #fff;
 text-decoration: none;
 font-size: 10pt;
}
table.kalenderdag tr th a {
 text-decoration: none;
 margin: 0 5px;
}
table.kalenderdag tr td {
 padding: 10px 10px;
}
table.kalenderdag tr#active {
 border: solid 2px #900;
}
table.kalenderdag tr.odd {
 background-color: #eee;
}
table.kalenderdag tr.even {
 background-color: #fff;
}
table.kalenderdag tr td.gaatnietdoor {
 padding: 10px 10px;
 text-decoration: line-through;
}



div.teamindex     { padding: 1px; margin-top: 0px; margin-bottom: 0;}
div.teamindex div.oneteam  { float: left; border: solid 1px #eee; margin: 5px; }
div.teamindex div.oneteam:hover { border: solid 1px #ccc; }
div.teamindex div.oneteam div.oneteampicture { width: 320px; height: 240px; opacity: 0.9; }
div.teamindex div.oneteam div.oneteampicture:hover { opacity: 1; }
.oneteampicture p { text-align: center; margin: 0; padding: 0; }
.oneteampicture img { height: 240px; max-width: 100%; }

.crlf          { clear: both; }





/* --- bootstrap xs -------------------------------------------------- */
@media screen and (max-width: 768px) {
  .cm-membercolumns {
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    column-count: 1;
    column-gap: 10px;
  }
}
/* --- bootstrap sm -------------------------------------------------- */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .cm-membercolumns {
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
  }
}
/* --- bootstrap md -------------------------------------------------- */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .cm-membercolumns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
  }
}
/* --- bootstrap lg -------------------------------------------------- */
@media screen and (min-width: 1201px) {
  .cm-membercolumns {
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    column-count: 4;
    column-gap: 10px;
  }

}
