/*-main stuff---------------------------------------------------------------*/
*     { margin: 0; padding: 0; }
body  { font-family: Ubuntu; background-color: $fff; color: #333; margin: 0; padding: 7px;}
h1    { font-family: Ubuntu; color: #0e5881; padding: 3px; }
h2    { font-family: Ubuntu; color: #666; padding: 3px; }
h3    { font-family: Ubuntu; color: #999; padding: 3px; }
h4    { font-family: Ubuntu; color: #333; }
p     { color: #333; padding-top: 10px; }
a     { text-decoration: none; font-weight: bold; color: #335; }

/*-heading------------------------------------------------------------------*/
img#logo { float: left; padding-right: 15px; }

/*-tables-------------------------------------------------------------------*/
table.wedstrijdlijst        { border-collapse: collapse; width: 100%; border-spacing: 0px; font-size: 85%; }
table.wedstrijdlijst tr th  { background: #eee; padding: 5px; border: solid 1px #666; }
table.wedstrijdlijst tr td  { background: #fbfbfb; padding: 5px; border: solid 1px #666; }
table.wedstrijdlijst tr.gamechange       { color: #080; }
table.wedstrijdlijst tr.gamecancel       { color: #800; text-decoration: line-through; }
table.wedstrijdlijst tr.gametochange     { color: #080; text-decoration: line-through; }
table.wedstrijdlijst tr td.afspraak      { font-weight: bold; }
table.wedstrijdlijst tr th.spelersheader { background: #fff; width: 20%; text-align: right; }
table.wedstrijdlijst tr td.spelerslijst  { background: #fff; font-size: 90%; }

table.cleantable tr th { padding: 5px 10px; }
table.cleantable tr td { padding: 2px 10px; }
