*     { margin: 0; padding: 0; }
body  { font-family: Ubuntu; background-color: $fff; color: #333; margin: 0; padding: 0;}
h1    { font-family: Ubuntu; color: #446; }
h2    { font-family: Ubuntu; color: #002; padding: 5px 0; }
h3    { font-family: Ubuntu; color: #668; padding: 5px 0; }
h4    { font-family: Ubuntu; color: #335; }
div   { padding: 0; margin: 0; }
p     { color: #333; padding-top: 10px; }
a     { text-decoration: none; font-weight: bold; color: #335; }
table { font-size: 85%; }
tr:nth-child(odd)  { background-color: #f5f5f5; }
tr:nth-child(even) { background-color: #fff; }
tr.groupheader     { background-color: #ccc; color: #333; padding: 5px; }
tr.groupheader td  { font-weight: bold; }
td { padding: 1px 3px; }
dl { font-size: 85%; }
dl dt { float: left; width: 150px; background-color: #eee; font-weight: bold; height: 1.3em; }
dl dd { height: 1.3em; }

#container { }

#header                       { background: #ccc url('../img/clubman.png') no-repeat left center; padding: 0; margin: 0; }
#header div#maintitle         { padding: 0px 5px; margin-left: 250px; font-size: 250%; }
#header div#maintitle a       { color: #fff; font-weight: bold; text-decoration: none; }
#header div#maintitle a:hover { color: #eee; text-decoration: none; }
#header div#subtitle          { padding: 0px 5px; margin-left: 250px; font-size: 125%; }
#header div#usbtitle a        { color: #eee; font-weight: bold; text-decoration: none; }
#header div#subtitle a:hover  { color: #fff; text-decoration: none; }


#content { background: #fff url('../img/cmstyle/main_bg.png') repeat-x center top; padding: 10px; }

#footer   { clear: both; padding: 0 5px; margin-top: 5px; background-color: #eee; font-size: 75%; }
#footer a { font-weight: normal; }

.message { padding: 10px; font-size: 120%; border-radius: 4px 4px 4px 4px; background-color: #900; background-image: -webkit-linear-gradient(top, #e65, #c33); color: #fff; }
.error-message { clear: both; padding: 0 0 10px 20px; }
.paging .current, .paging .disabled, .paging a { padding: 5px 8px; display: inline-block }

div.teamindex     { padding: 1px; margin-top: 0px; margin-bottom: 0;}
div.teamindex div.oneteam  { float: left; border: solid 1px #eee; margin: 5px; }
div.teamindex div.oneteam:hover { border: solid 1px #ccc; }
div.teamindex div.oneteam div.oneteampicture { width: 240px; height: 180px; opacity: 0.9; }
div.teamindex div.oneteam div.oneteampicture:hover { opacity: 1; }
.oneteampicture p { text-align: center; margin: 0; padding: 0; }
.oneteampicture img { height: 180px; max-width: 100%; }

ul.memberindex            { list-style-type: none; }
ul.memberindex li         { font-size: 100%; padding: 0 1px; }
ul.memberindex li p       { background: #999; color: #fff; padding: 0 10px; }
ul.memberindex li a       { font-weight: normal; padding: 0 10px; }
ul.memberindex li a:hover { background: #f90; color: #fff; }
ul.memberindex li span.inactive a  { color: #ccc; }

.crlf          { clear: both; }
.imgright      { float: right; margin-left: 5px; }
.smallthumbdiv { float: left; height: 18px; width: 24px; margin-left: auto; margin-right: auto;}
.smallthumb    { float: left; height: 18px; display: block; margin-left: auto; margin-right: auto; }
.lastmodified  { clear: both; padding: 0 5px; background-color: #eee; font-size: 75%; }

.blockview       { float: left; border-bottom: solid 1px #ccc; margin-right: 4px; }
.blockview h4    { padding: 3px 10px 3px 10px; background-color: #ddd; border-radius: 10px 10px 0px 0px; margin-top: 7px;}
.blockview p     { font-size: 90%; background-color: #fcfcfc; padding: 0 0 1px 3px; }
.blockview dl    { font-size: 90%; }
.blockview dl dt { width: 150px; background-color: #eee; font-weight: bold; padding-left: 3px; }
.blockview dl dd { background-color: #fcfcfc; padding-bottom: 1px; padding-left: 3px; }

#teamimage       { float: right; }
#teamgeneralinfo { width: 400px; }
#teammomentsinfo { width: 400px; }
#teammemberinfo  { width: 400px; }
#teamotherinfo   { width: 100%;  }

.memberview dl dt  { width: 100px; }
#memberimages      { float: right; }
#membergeneralinfo { width: 385px; }
#memberteaminfo    { width: 385px; }
#membercontactinfo { width: 385px; }
#memberfinanceinfo { width: 385px; }
#memberotherinfo   { width: 100%;  }

.teammemberview dl dt  { width: 100px; }
#teammemberimages      { float: right; }
#teammembergeneralinfo { width: 385px; }
#teammemberteaminfo    { width: 385px; }
#teammembercontactinfo { width: 385px; }
#teammemberfinanceinfo { width: 385px; }
#teammemberotherinfo   { width: 100%;  }

.effortview dl dt  { width: 100px; }
#effortgeneralinfo { width: 385px; }
#effortteaminfo    { width: 385px; }
#effortotherinfo   { width: 100%;  }

.profileview dl dt  { width: 130px; }
#profileimages      { float: right; }
#profilegeneralinfo { width: 355px; }
#profileaclinfo     { width: 355px; }
#profileotherinfo   { width: 100%;  }

.pictureview img    { border: solid 2px #666; }
.pictureview dl dt  { width: 130px; }
#pictureimage       { }
#picturegeneralinfo { width: 555px; }
#profileotherinfo   { width: 100%;  }

.uploadview img    {  }
.uploadview dl dt  { width: 130px; }
.uploadview dl dd  { }
#uploadimage p     { background-color: #eee; text-align: center; padding: 5px; }
#uploadgeneralinfo { width: 655px; }
#uploadotherinfo   { width: 100%;  }

.newsitemview dl     { }
.newsitemview dl dt  {  }
.newsitemview dl dd  { }


.floatright     { float: right; padding-right: 10px; }
.actionright    { float: right; }
.actionright a:hover { color: #fff; }

/*-boxes-------------------------------------------------------------------*/
div.box {
 margin: 0 0;
 padding: 10px;
 -webkit-border-radius: 4px;
 -moz-border-radius: 4px;
 border-radius: 4px;
}
div.box ul li { margin-left: 20px; margin-top: 5px;}

div.simplebox {
 border: solid 1px #eee;
 background: #f3f3f3;
 background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f3f3f3), to(#fefefe));
 background: -moz-linear-gradient(#f3f3f3, #fefefe);
}

div.coolbluebox {
 width: 650px;
 margin: 15px;
 padding: 15px 15px 15px 15px;
 border: solid 1px #696;
 -webkit-box-shadow: #666 5px 5px 3px;
 -moz-box-shadow: #666 5px 5px 3px;
 box-shadow: #666 5px 5px 3px;
 background: #09f;
 background: -webkit-gradient(linear, 0 0, 0 bottom, from(#2bf), to(#fefefe));
 background: -moz-linear-gradient(#2bf, #fefefe);
}

/*-tables-------------------------------------------------------------------*/
table.wedstrijdlijst        { border-collapse: collapse; width: 100%; border-spacing: 0px; font-size: 90%; }
table.wedstrijdlijst tr th  { background: #eee; padding: 5px; border: solid 1px #09c; }
table.wedstrijdlijst tr td  { background: #fbfbfb; padding: 5px; border: solid 1px #09c; }
table.wedstrijdlijst tr.gamechange       { color: #080; }
table.wedstrijdlijst tr.gamecancel       { color: #800; text-decoration: line-through; }
table.wedstrijdlijst tr.gametochange     { color: #080; text-decoration: line-through; }
table.wedstrijdlijst tr td.afspraak      { font-weight: bold; }
table.wedstrijdlijst tr th.spelersheader { background: #fff; width: 20%; text-align: right; padding: 5px; border: solid 1px #09c; }
table.wedstrijdlijst tr td.spelerslijst  { background: #fff; padding: 5px; border: solid 1px #09c; font-size: 90%; }


td.status         { color: #333; }
td.status.draft   { color: #3c3; }
td.status.private { color: #c33; }
td.status.archive { color: #999; }
td.status.public  { color: #09f; }

.txttoright      { text-align: right; }
